.container {
    display: flex;
}

.para1 {
    background-color: antiquewhite;
    flex: 1;
}

.para2 {
    background-color: aquamarine;
    flex: 1;
}

.para3 {
    background-color: bisque;
    flex: 1;
}

.outerBox {
    display: flex;
    min-height: 40vh;
    background-color: aqua;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

.numbers {
    background-color: rgb(250, 218, 91);
    font-weight: bold;
    width: 80px;
    font-size: xx-large;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .box1:hover {
    box-shadow: 0px 5px 5px black;
} */